.main-section {
  display: flex;
  flex-direction: row;
}

.side-section {
  display: flex;
  flex-direction: column;
}

.display-section {
  flex: 1 0 80%;
  order: 1;
  height: 60vh;
}

.filter-section {
  align-content: flex-end;
  flex: 1 0 15%;
  order: 2;
  width: 20vw;
}

.main-section-sp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.side-section-sp {
  display: flex;
  flex-direction: row;
  order: 2;
}

.map-section-sp {
  flex: 2 0 100%;
  height: 70vh;
  order: 1;
}

.display-section-sp {
  flex: 1 0 50%;
  order: 3;
}

.filter-section-sp {
  flex: 1 0 40%;
  order: 4;
}
